*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.score-table{
    width: 80vmin;
    display: flex;
    margin-top: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

p {
    background: rgb(125, 125, 125);
    color: white;
    border-radius: 7px;
    padding: 0.5rem 2rem;
}

.firstplayerScore{
    background-color: rgb(41, 43, 182);
}


.memoryBoard{
    display:grid;
    gap: 5px;
    grid-template-columns: repeat(4,20vmin);
    grid-template-rows: repeat(4,20vmin);
    
}

.card{
    background-size: cover;
    filter: brightness(100%);
    transition: 300ms;
}

.card-overlay{
    filter: brightness(0%);
}


.card-overlay:active {
    transform: rotate3d(0, 1, 0, 180deg);
}







